.sitemap-container[b-f3n8q9xob2] {
  position: relative; /* To enable absolute positioning for the text */
  height: 300px; /* Set the container height as per your requirement */
}

.sitemap-centered-text[b-f3n8q9xob2] {
  position: absolute;
  top: 10;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.sitemap-icon-container[b-f3n8q9xob2] {
  display: flex;
  gap: 10px;
  justify-content: center; /* Center the icons horizontally */
}

/* Adjust the font size and color of the icons as needed */
.sitemap-icon[b-f3n8q9xob2] {
  font-size: 24px;
  color: #333;
}

.sitemap-logo[b-f3n8q9xob2] {
  position: absolute;
  top: 0;
  left: 25%;
  transform: translateX(-50%);
  width: 150px; /* Set the width of the image as per your requirement */
  height: auto;
}

.sitemap-google-logo[b-f3n8q9xob2] {
  position: absolute;
  top: 20%;
  right: -25%;
  transform: translateX(-50%);
  width: 230px; /* Set the width of the image as per your requirement */
  height: auto;
}

.sitemap-apple-logo[b-f3n8q9xob2] {
  position: absolute;
  top: 0;
  right: -19%;
  transform: translateX(-50%);
  width: 205px; /* Set the width of the image as per your requirement */
  height: auto;
}


.scan-text[b-f3n8q9xob2] {
  font-size: 15.2px;
  color: #666;
  margin-top: 20px;
  text-align: center;
  padding-top: 38%;
}

 /* Styling for the rows */
 .sitemap-rows-container[b-f3n8q9xob2] {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.row[b-f3n8q9xob2] {
  flex: 1;
  padding: 10px;
}