<div class="sitemap-container">
    <div class="sitemap-centered-text">
        <!-- Two rows -->
        @* <div class="sitemap-rows-container" style="margin-bottom:0.5rem"> *@
        @* <div class="row"> *@
        @*     <!-- Content for the first row --> *@
        @*     <img src="/misc/qrcode.png" alt="RemoteAmbition Logo" class="sitemap-logo" /> *@
        @*     <span class="scan-text">Scan to download<br> our app</span> *@
        @* </div> *@
        @* <div class="row"> *@
        @*     <!-- Content for the second row --> *@
        @*     <img src="/misc/en-US apple.svg" alt="RemoteAmbition Logo" class="sitemap-apple-logo" /> *@
        @*     <img src="/misc/en-US google.png" alt="RemoteAmbition Logo" style="margin-top:0.5rem" class="sitemap-google-logo" /> *@
        @* </div> *@
        @* </div> *@

        <span>© 2023 HRBot</span>
        <span>Privacy · Terms · Sitemap · Status</span>
        <div class="sitemap-icon-container">
            <ion-icon style="padding-top:2rem; padding-buttom:2rem; height: 3rem; width: 3rem" name="logo-twitter"></ion-icon> <!-- Twitter icon -->
            <ion-icon style="padding-top:2rem; padding-buttom:2rem; height: 3rem; width: 3rem" name="logo-github"></ion-icon> <!-- GitHub icon -->
        </div>
    </div>
</div>
