@using hr_bot_webapp_v2.Pages
@inject IJSRuntime jsRuntime

<div class="top-row ps-3 navbar navbar-dark">
    <div class="top-icons">
        <ion-icon name="globe-outline" size="large" @onclick="@(() => ShowModalLanguage(ModalPosition.TopRight))"></ion-icon>
        <ion-icon name="person-circle-outline" size="large" @onclick="@(() => ShowModalAccount(ModalPosition.TopRight))"></ion-icon>
    </div>
</div>

<div class="nav-menu-container "> <!-- Add a container for the navigation items -->
    <div class="@NavMenuCssClass">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <ChatGPT /> <!-- Include the ChatBox component here -->
            </div>
        </nav>
        <nav class="flex-column">
            <div class="nav-item px-3">
                <MenuExtension />
            </div>
        </nav>
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NearbyLocations />
            </div>
        </nav>
         <nav class="flex-column">
            <div class="nav-item px-3">
                <Occupation />
            </div>
        </nav>
        <nav class="flex-column">
            <div class="nav-item px-3">
                <SiteMap /> <!-- Include the Occupations component here -->
            </div>
        </nav>
    </div>
</div>


@code
{
    private bool collapseNavMenu = false; // Set to "false" to show the navigation menu by default

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;


    // Modal Trigger.

    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    void ShowModalLanguage(ModalPosition position)
    {
        var options = new ModalOptions {
            Class = "nav-modal-class",
            Position = position,
            HideHeader = true
        };

        Modal.Show<ModalLanguage>($"Position: {position}", options);
    }

    void ShowModalAccount(ModalPosition position)
    {
        var options = new ModalOptions
            {
                Class = "nav-modal-class",
                Position = position,
                HideHeader = true
            };

        Modal.Show<ModalAccount>($"Position: {position}", options);
    }
}
