.navbar-toggler {
    /*background-color: rgba(255, 255, 255, 0.1);*/
}

.top-row {
    height: 3.5rem;
    background: #c2c9d2;
}

.top-icons {
    color: white;
    position: absolute;
    padding-right: 10px;
    right: 0; /* Use 'right' property to position to the right */
}


.nav-modal-class {
    width: 20rem;
    position: absolute;
    right: 0.5rem;
    top: 4.0rem;
}

.navbar-brand {
    font-size: 1.1rem;
    position: relative;
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px;
}

.navbar-brand span {
    position: absolute;
    left: 0; /* Change 'right' to 'left' */
    color: white;
}

.nav-menu-container::-webkit-scrollbar {
    /* Width of vertical scroll bar */
    width: 8px;
    /* Height of horizontal scroll bar */
    height: 10px;
}

.nav-menu-container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #c2c9d2;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item ::deep a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item ::deep a.active {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.nav-item-flex {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item-flex:first-of-type {
    padding-top: 1rem;
}

.nav-item-flex:last-of-type {
    padding-bottom: 1rem;
}

.nav-item-flex ::deep a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item-flex ::deep a.active {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}

.nav-item-flex ::deep a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-menu-container {
        height: calc(100vh - 3.5rem); /* Adjust the height as needed */
        overflow-y: auto; /* Enable vertical scrollbar when content overflows */
    }
}

@media (max-width: 640px) {
    .nav-item-flex {
        display: none;
    }
}

