.page[b-3qk2pw75oh] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-3qk2pw75oh] {
    flex: 1;
}

.sidebar[b-3qk2pw75oh] {
    /*background-color: #f7f7f7;*/
}

.footer-hide[b-3qk2pw75oh] {
    display: block;
}

.top-row[b-3qk2pw75oh] {
    background: #c2c9d2;
    justify-content: flex-start; /* Change 'flex-end' to 'flex-start' */
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-3qk2pw75oh]  a, .top-row .btn-link[b-3qk2pw75oh] {
        white-space: nowrap;
        margin-right: 1.5rem; /* Change 'margin-left' to 'margin-right' */
    }

    .top-row a:first-child[b-3qk2pw75oh] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-3qk2pw75oh] {
        display: none;
    }

    .top-row.auth[b-3qk2pw75oh] {
        justify-content: space-between;
    }

    .top-row a[b-3qk2pw75oh], .top-row .btn-link[b-3qk2pw75oh] {
        margin-right: 0; /* Change 'margin-left' to 'margin-right' */
    }

    .footer-hide[b-3qk2pw75oh] {
        display: block;
    }
}

@media (min-width: 641px) {
    .page[b-3qk2pw75oh] {
        flex-direction: row-reverse; /* Change 'row' to 'row-reverse' */
    }

    .sidebar[b-3qk2pw75oh] {
        width: 450px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-3qk2pw75oh] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-3qk2pw75oh], article[b-3qk2pw75oh] {
        padding-left: 1.5rem !important; /* Adjust padding values to your preference */
        padding-right: 2rem !important; /* Adjust padding values to your preference */
    }
}
