@page "/analyze"
@inject IJSRuntime jsRuntime


<div class="card bg-light" style="max-width: 500px; margin-bottom: 3rem;transform: translate(@xPos, @yPos)">
    <div class="card-header bg-secondary">
        <span class="card-text" style="color:white">
            Sync your resume / CV with ChatGPT
       </span>
    </div>
    <div class="card-body">
        <span>What we do</span>
        <ul>
            <li>Read job data from across the web</li>
            <li>Send new jobs to ChatGPT along with your resume to decide if they are relevant to you</li>
            <li>Make your resume / CV available to ChatGPT across conversations and devicesComing Soon</li>
            <li>Save changes made by you and ChatGPTComing Soon</li>
        </ul>
        <span>Features added to ChatGPT</span>
        <ul>
            <li>Search and discuss millions of jobs</li>
            <li>Tailored job recommendations</li>
            <li>Comprehensive resume analysis Coming Soon</li>
        </ul>
    </div>
    <a class="btn btn-primary" style="max-width: 500px; margin-left:1rem; margin-right:1rem; margin-bottom:0.3rem" @onclick="ChooseFileAsync">Analyze Resume / CV</a>
    <input type="file" @ref="InputFileElement" id="fileInput" style="display:none" accept=".txt,.pdf,.docx" @onchange="HandleFileSelectAsync" />
    <a class="btn btn-secondary" style="max-width: 500px; margin-left:1rem; margin-right:1rem; margin-bottom:2rem">Import from LinkedIn</a>
    <span style="font-size:16px; padding-left: 1.5rem; padding-right: 1.5rem; padding-left: 1.5rem; padding: 1rem">
        By pressing the button above, you agree to our Terms and Privacy Policy, and agree to receive email job alerts. You can unsubscribe anytime.
    </span>
</div>

@using hr_bot_webapp_v2.Services
@using System.Text.RegularExpressions
@using System.Collections.Generic

@inject JobInitService JobInitService
@inject SharedService SharedService
@inject Blazored.LocalStorage.ILocalStorageService localStorage

@code {

    private ElementReference InputFileElement;
    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private async Task ChooseFileAsync()
    {
        await jsRuntime.InvokeVoidAsync("triggerFileInputClick", InputFileElement);
    }

    private async Task HandleFileSelectAsync()
    {
        var fileContent = await jsRuntime.InvokeAsync<string>("readFileContent", InputFileElement);
        List<JobInitService.JobInit> jobInits = new List<JobInitService.JobInit>();

        Console.WriteLine("HandleFileSelectAsync \n" + fileContent); // Example: print the content to the console
        if (SharedService.StartChatGPTServiceDirectInstance != null)
        {
            var e = await SharedService.StartChatGPTServiceDirectInstance(fileContent);
            // Use a regular expression to match the pattern of the job positions
            Regex regex = new Regex(@"\d+\.\s(.*?)(?=\s\d+\.|\s*$)");

            // Create a list to store the extracted job positions
            List<string> jobPositions = new List<string>();

            // Iterate through the matches and add them to the list
            foreach (Match match in regex.Matches(e))
            {
                jobPositions.Add(match.Groups[1].Value);
            }

            // Print the job positions
            Console.WriteLine("Job Positions:");

            foreach (string jobPosition in jobPositions)
            {
                Console.WriteLine(jobPosition);
                jobInits.Add(new JobInitService.JobInit { refTitle = jobPosition });
            }
        }
        await localStorage.RemoveItemAsync("JobInits");
        await localStorage.SetItemAsync("JobInits", jobInits);
        NavigationManager.NavigateTo("/");
    }

    private bool IsMobile { get; set; }
    private string xPos, yPos;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        IsMobile = await jsRuntime.InvokeAsync<bool>("isMobileDevice");
        xPos = IsMobile ? "0" : "86%"; /* mobile | pc */
        yPos = IsMobile ? "0" : "5%";
        StateHasChanged();
    }
}
