@page "/menuextension"

<div class="main-menu-extension-page px-3">
    <div class="btn btn-primary">
        <span>Add to Chrome — It's Free</span>
    </div>
    <span style="text-align:center">Automate your job applications across 40,000+ sites</span>
</div>