@page "/occupations"
@using hr_bot_webapp_v2.Services;

<div class="occupations-main-menu-list">
    @foreach (var occupation in Global.Occupation.GetVisibleOccupations(visibleOccupationsCount))
    {
        <div class="occupations-item hoverable">
            <div class="occupation-icon ">
                <img src="@occupation.ImagePath" class="occupations-circle-white" />
                @* <i class="fa-sharp fa-solid fa-location-dot occupations-circle-white"></i> *@
            </div>
            <div class="occupations-name">@occupation.Name</div>
        </div>
    }

    <div class="show-more-less-buttons hoverable-buttons">
        @if (visibleOccupationsCount < Global.Occupation.allOccupations.Count)
        {
            <button @onclick="ShowMore"><span class="text-primary">Show More</span></button>
        }
        else
        {
            <button @onclick="ShowLess"><span class="text-primary">Show Less</span></button>
        }
    </div>
</div>

@code {
    private int visibleOccupationsCount = 3; // Number of Occupations to show initially

    protected override void OnInitialized()
    {
        Global.Occupation.allOccupations = Global.Occupation.GenerateAllOccupations(); // Initialize the field in the OnInitialized method
    }

    private void ShowMore()
    {
        visibleOccupationsCount += Global.Occupation.allOccupations.Count; // Increase the number of visible occupations
        if (visibleOccupationsCount > Global.Occupation.allOccupations.Count)
        {
            visibleOccupationsCount = Global.Occupation.allOccupations.Count;
        }
    }

    private void ShowLess()
    {
        visibleOccupationsCount = 3; // Show the initial number of occupations
    }

    // Added this method to handle the click event of the "Show More" button
}
