<div class="sitemap-container">
    <div class="sitemap-centered-text">
        <span>© 2023 HRBot</span>
        <span>Privacy · Terms · Sitemap · Status</span>
        <div class="sitemap-icon-container">
            <ion-icon style="padding-top:2rem; padding-buttom:2rem; height: 3rem; width: 3rem" name="logo-twitter"></ion-icon> <!-- Twitter icon -->
            <ion-icon style="padding-top:2rem; padding-buttom:2rem; height: 3rem; width: 3rem" name="logo-github"></ion-icon> <!-- GitHub icon -->
        </div>
    </div>
</div>
