/* analyze-page.css */

.analyze-page-container {
    margin-top: 2%;
    padding: 10px;
    min-height: 80vh;
    width: 70%;
    max-width: 500px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.analyze-page-container h1 {
    font-weight: bold;
    text-align: center;
    font-size: 22px;
}

.line-center {
    display: block;
    width: 90%;
    margin: 20px auto;
    border: 1px solid #ccc;
}

/* Add font-awesome styles */
.analyze-page-container .fa-icon {
    margin-right: 10px;
    margin-left: 10px;
}

/* Add the following styles for the buttons */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
}

.cornered-button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
}

.analyze-page-container h6 {
    text-align: center;
    font-size: 13px;
}
