@page "/menuextension"

<div class="main-menu-extension-page px-3">
    <div class="menu-extension-content">
        <span>Add to Chrome — It's Free</span>
    </div>
    <span>Automate your job applications across 40,000+ sites</span>
</div>