<link rel="stylesheet" href="path/to/font-awesome/css/all.min.css">

<div class="container">
    <div class="row">    
        <div class="col-xs-8 col-xs-offset-2">
            <div class="input-group">
                <span class="search-input-group-addon">
                    <i class="fas fa-search"></i>
                </span>
                <input type="text" class="form-control" name="x" placeholder="Search term...">
                <div class="search-input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      <span id="search_concept"><i class="fas fa-align-justify"></i> All</span>  <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                      <li><a href="#contains"> <i class="fas fa-envelope text-danger"></i> Email</a></li>
                      <li><a href="#its_equal"> <i class="fas fa-music text-warning"></i> Music</a></li>
                      <li><a href="#greather_than"> <i class="fas fa-user text-success"></i> Users</a></li>
                      <li><a href="#less_than"><i class="fas fa-book text-primary"></i> Books </a></li>
                      <li class="divider"></li>
                      <li><a href="#all"> <i class="fas fa-picture text-info"></i> Pictures</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="nav-modal-button">
    <span class="nav-main-icon" @onclick="ShowModal"><i class="fas fa-user"></i></span> <!-- User icon -->
    <span class="nav-main-icon"><i class="fas fa-globe"></i></span> <!-- Internet icon -->
</div>

@code
{
    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    ModalOptions options = new ModalOptions() 
    { 
        UseCustomLayout = true,
        Size = ModalSize.Small ,
        Position = ModalPosition.TopRight 
    };
    void ShowModal() => Modal.Show<Confirm>("", options);

}