<div class="sitemap-container">
  <div class="sitemap-centered-text">
    <!-- Two rows -->
    <div class="sitemap-rows-container">
      <div class="row">
        <!-- Content for the first row -->
          <img src="/misc/qrcode.png" alt="RemoteAmbition Logo" class="sitemap-logo" />
          <p class="scan-text">Scan to download<br> our app</p>
      </div>
      <div class="row">
        <!-- Content for the second row -->
        <img src="/misc/en-US apple.svg" alt="RemoteAmbition Logo" class="sitemap-apple-logo" />
        <img src="/misc/en-US google.png" alt="RemoteAmbition Logo" class="sitemap-google-logo" />
      </div>
    </div>

    <p>© 2023 HRBot</p>
    <p>Privacy · Terms · Sitemap · Status</p>
      <div class="sitemap-icon-container">
      <span class="sitemap-icon"><i class="fas fa-twitter"></i></span> <!-- Twitter icon -->
      <span class="sitemap-icon"><i class="fab fa-github"></i></span> <!-- GitHub icon -->
    </div>
  </div>
</div>