.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    /*background-color: #f7f7f7;*/
}

.top-row {
    background: #c2c9d2;
    justify-content: flex-start; /* Change 'flex-end' to 'flex-start' */
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-right: 1.5rem; /* Change 'margin-left' to 'margin-right' */
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-right: 0; /* Change 'margin-left' to 'margin-right' */
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row-reverse; /* Change 'row' to 'row-reverse' */
    }

    .sidebar {
        width: 450px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 1.5rem !important; /* Adjust padding values to your preference */
        padding-right: 2rem !important; /* Adjust padding values to your preference */
    }
}
